<r-main mode="open" extends="main">
  <article :is="page"></article>

  <style>
    :host {
      margin: 15px;
      margin-top: 30px;
    }
  </style>

  <script>
    exports = {
      data() {
        return {
          page: '',
          category: '',
          id: ''
        }
      },
      connected() {
        const routeEvents = this.$mixins.routeEvents

        routeEvents.addEventListener('page-change', event => {
          if (event.detail.category) {
            this.$data.category = event.detail.category
          }
          if (event.detail.id) {
            this.$data.id = event.detail.id
          }
          this.$data.page = event.detail.page
        })
      }
    }
  </script>
</r-main>