<my-content>
  <div :is="page">
    <p slot="user">{{ user }}</p>
    <p slot="age">{{ age }}</p>
  </div>

  <script>
    import { myRoute } from '../Routes'

    exports = class {
      page = 'my-home' // initial state value
      user = ''
      age = ''

      static connected() {
        // add a "/" event handler to the myRoute element
        myRoute.addEventListener('/', () => {
          this.page = 'my-home' // assign a value
        })

        // add a "/about" event handler to the myRoute element
        myRoute.addEventListener('/about', () => {
          this.page = 'my-about' // assign a value
        })

        // add a "/contacts" event handler to the myRoute element
        myRoute.addEventListener('/contacts', () => {
          this.page = 'my-contacts' // assign a value
        })

        // add a "/:user/:age" event handler to the myRoute element
        myRoute.addEventListener('/:user/:age', event => {
          this.page = 'my-users' // component name
          this.user = event.params.user // username
          this.age = event.params.age // user age
        })

        // add a "/:user\\?age=32" event handler to the myRoute element
        myRoute.addEventListener('/:user\\?age=32', event => {
          this.page = 'my-users' // component name
          this.user = event.params.user // username
          this.age = event.url.searchParams.get('age') // user age
        })

        // trigger page address event on myRoute element
        this.$route(myRoute, location.href)
      }
    }
  </script>
</my-content>