<my-menu>
  <nav #nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contacts">Contacts</a>
    <a href="/john/32">John</a>
    <a href="/john?age=32">Age</a>
  </nav>

  <script>
    import { myRoute } from '../Routes'

    exports = class {
      static connected() {
        // add a "click" event handler to the NAV element
        this.$refs.nav.addEventListener('click', event => {
          // cancel clicking on the link
          event.preventDefault()

          // trigger a link address event on myRoute element
          this.$route(myRoute, event.target.href)
        })
      }
    }
  </script>
</my-menu>