<page-list mode="open" extends="main">
  <h2>{{ $mixins.glossary[$params.category] }}</h2>

  Сортировать по:
  <select>
    <option value="id">ID</option>
    <option value="name">Имя</option>
    <option value="age">Возраст</option>
  </select>

  <button class="{{ ascending ? 'active' : '' }}" @click="ascending = !ascending" title="по возрастанию">↓</button>
  <button class="{{ !ascending ? 'active' : '' }}" @click="ascending = !ascending" title="по убыванию">↑</button>

  <ul $for="user of sort()">
    <li>
      ID: <a href="{{ user.id }}">{{ user.id }}</a><br>
      Имя: {{ user.name }}<br>
      Возраст: {{ user.age }}
    </li>
  </ul>

  <style>
    select {
      margin-right: 5px;
    }
    li + li {
      margin-top: 10px;
    }
    button.active {
      background: #222;
      color: #fff;
    }
  </style>

  <script>
    exports = {
      async data() {
        const collator = this.$mixins.collator
        
        const users = await this.$mixins.fetch(`/workers/${this.$params.category}`)

        // const DB = this.$mixins.DB
        // const category = this.$params.category
        // const users = DB.filter(user => user.category === category)

        return {
          users,
          ascending: true,
          group: 'id',
          sort() {
            return this.users.sort((a, b) => this.ascending ? collator.compare(a[this.group], b[this.group])
              : collator.compare(b[this.group], a[this.group]))
          }
        }
      },
      connected() {
        this.$('select').addEventListener('change', event => {
          this.$data.group = event.target.value
        })
      }
    }
  </script>
</page-list>