<page-user mode="open" extends="main">
  <h2>{{ $mixins.glossary[$params.category].slice(0, -1) }}</h2>
  ID: {{ user.id }}<br>
  Имя: {{ user.name }}<br>
  Возраст: {{ user.age }}

  <script>
    exports = {
      async data() {
        // добавить задержку в одну секунду
        // await new Promise(ready => setTimeout(ready, 1000))

        const user = this.$mixins.DB ? (await this.$mixins.DB).default.find(user => user.id == this.$params.id)
          : await this.$mixins.fetch(`/workers/${this.$params.category}/${this.$params.id}`)

        return {
          user
        }
      }
    }
  </script>
</page-user>