<app-reacton mode="open" extends="body">
  <header is="app-header"></header>
  <main id="main" $params="category, id" $view="view"></main>
  <footer is="app-footer"></footer>

  <style>
    :host {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
    main {
      margin: 20px;
    }
    footer {
      margin-top: auto;
    }
  </style>

  <script>
    exports = {
      data() {
        return {
          view: '',
          category: '',
          id: ''
        }
      },
      connected() {
        this.$router(this, {
          '/': ()=> {
            this.$data.view = 'page-home'
          },
          '/workers': () => {
            this.$data.view = 'page-workers'
          },
          '/workers/:category/:id?': event => {
            if (event.params.id) {
              this.$data.category = event.params.category
              this.$data.id = event.params.id
              this.$data.view = 'page-user'
            }
            else {
              this.$data.category = event.params.category
              this.$data.view = 'page-list'
            }
          }
        })
      }
    }
  </script>
</app-reacton>